# Папка с виртуальным окружением Python
/backend/venv/

# Файл с секретными данными
.env
/backend/.env

telegram-feed-app/backend/static/media

# Файлы сессии Telethon
*.session
*.session-journal
generate_session.py

# Системные папки Python
__pycache__/
*.pyc

# Папки зависимостей Node.js (если появятся)
node_modules/

